# python cache
__pycache__/

# log
*.log
log/

# python venv
venv/
.env/
.venv/
.gitignore


# local file / dir
*_local*

# temp
News.html

# OSX file
.DS_Store

# token file
token.txt

# emailconfig
email_config.json
